* {
  box-sizing: border-box;
}

/* FlipBook */

.pdf-body-wrapper {
  /* or any other parent wrapper */
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
  min-height: 100dvh;
  overflow: hidden;
  border-radius: 8px;
  background: #ebeced;
  align-items: center;
}

.pdf-body-wrapper .title-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pdf-main-container .book {
  position: relative;
  display: flex;
  margin: auto;
  width: 45%;
  /*1* let pointer event go trough pages of lower Z than .book */
  /* pointer-events: none; */
  transform-style: preserve-3d;
  transition: translate 1s;
  translate: calc(min(var(--c), 1) * 50%) 0%;
  /* Incline on the X axis for pages preview */
}

.pdf-main-container .page {
  /* PS: Don't go below thickness 0.5 or the pages might transpare */
  --thickness: 4;
  flex: none;
  display: flex;
  width: 100%;
  font-size: 4px;
  /*1* allow pointer events on pages */
  pointer-events: all;
  user-select: none;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition:
    transform 1s,
    rotate 1s ease-in
      calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
  translate: calc(var(--i) * -100%) 0px 0px;
  transform: translateZ(
    calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 0.23cqmin))
  );
  rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
}

.pdf-main-container .front,
.pdf-main-container .back {
  position: relative;
  flex: none;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  /* Fix backface visibility Firefox: */
  translate: 0px;
  font-size: 1.8rem;
}

.pdf-main-container .back {
  translate: -100% 0;
  rotate: 0 1 0 180deg;
}

/* That's it. Your FlipBook customization styles: */

.pdf-main-container .book {
  counter-reset: page -1;
  & a {
    color: inherit;
  }
}

.pdf-main-container .page {
  box-shadow: 0 0 10px -12px #000000;
}

.pdf-main-container .front,
.pdf-main-container .back {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 2em;
  border: 1px solid #0002;

  &:has(img) {
    padding: 0;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    position: absolute;
    bottom: 1em;
    counter-increment: page;
    content: counter(page) ".";
    font-size: 0.8em;
  }
}
.cover {
  &::after {
    content: "";
  }
}
.pdf-main-container .front {
  &::after {
    right: 1em;
  }
  border-radius: 0.1em 0.5em 0.5em 0.1em;
}
.back {
  &::after {
    left: 1em;
  }
  background-image: linear-gradient(to right, #f7f7f7 80%, #eee 100%);
  border-radius: 0.5em 0.1em 0.1em 0.5em;
}

.cover {
  background:
    radial-gradient(
      circle farthest-corner at 80% 20%,
      hsl(150 80% 20% / 0.3) 0%,
      hsl(170 60% 10% / 0.1) 100%
    ),
    hsl(231, 32%, 29%) url("https://picsum.photos/id/984/800/900") 50% / cover;
  color: hsl(200 30% 98%);
}


.book-prev-next svg {
  width: 24px;
  height: 24px;
}

.book-prev-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  box-shadow: none;
  border: 0;
}

.book-prev-next.prev {
  left: 0;
}

.book-prev-next.next {
  right: 0;
}

/* pop up modal */
.custom-popover {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
  background: #ffffff;
  color: #000000;
  border-radius: 8px;
  box-shadow: 0 0 12px -4px black;
  border: 0;
  pointer-events: auto;
}
.modal-content-item img {
  border-radius: 6px;
}

@media (min-width: 750px) {
  .modal-content-wrapper .modal-content-item{
    width: calc(60% - 1rem / 2);
  }
  .modal-content-wrapper .modal-content-item:first-child{
    width: calc(40% - 1rem / 2);
  }
}
.custom-popover .cross-btn {
  position: absolute;
  top: 0rem;
  right: 0rem;
  background: #ebebeb;
  border-radius: 50%;
  padding: 0.4rem;
  cursor: pointer;
}
.custom-popover .cross-btn svg {
  width: 1.5rem;
  height: 1.5rem;
}

.custom-popover select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 7.99994C6.8684 8.0007 6.73793 7.97548 6.6161 7.92571C6.49426 7.87595 6.38344 7.80262 6.29 7.70994L0.290002 1.70994C0.101699 1.52164 -0.00408936 1.26624 -0.00408936 0.999941C-0.00408936 0.73364 0.101699 0.478245 0.290002 0.289941C0.478306 0.101638 0.733701 -0.00415039 1 -0.00415039C1.2663 -0.00415039 1.5217 0.101638 1.71 0.289941L7 5.58994L12.29 0.299942C12.4813 0.136115 12.7274 0.0505086 12.9791 0.0602298C13.2307 0.0699509 13.4695 0.174284 13.6476 0.352378C13.8257 0.530473 13.93 0.769212 13.9397 1.02089C13.9494 1.27256 13.8638 1.51864 13.7 1.70994L7.7 7.70994C7.51374 7.89469 7.26234 7.99884 7 7.99994Z' fill='%23303030'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem);
    background-size: 12px;
    margin: 0;
}
.custom-popover select:focus-visible {
  box-shadow: none;
  outline: 0;
}


/* ************ breakpoints ************ */
@media (max-width: 1024px) {
  .pdf-body-wrapper {
    padding: 3rem;
    min-height: 100%;
  }
  .pdf-main-container .book {
    width: 52%;
    margin: 0 auto;
  }
}

/* ************ breakpoints ************ */
/*  */