@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-1000 {
  perspective: 1000px;
}
#root {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#5a47ce, #232323 80%);
}

body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

/* hotspots css */
.image-hotspots--pin {
  display: block;
  transform: translate(-50%, -50%) !important;
}

.image-hotspots--pin-button.hotspot--pinned {
  width: 36px;
  height: 36px;
  background: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 6px #00000014;
}
.image-hotspots--pin-button.hotspot--pinned svg {
  display: block !important;
  transform-origin: center !important;
  border: 2px #fff solid !important;
  border-radius: 50% !important;
  padding: 1px !important;
  outline: 1px #fff solid !important;
  outline-offset: 1px !important;
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}
.image-hotspots--pin-button.hotspot--pinned:after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background: #f5f5f5;
  border-radius: 50%;
  opacity: 0.4;
  animation: hotspot-wave 2s ease infinite alternate;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes hotspot-wave {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.45);
  }
}

/* button settings */
.button-settings-item {
  width: 100%;
}
@media (min-width: 640px) {
  .button-settings-item {
    width: calc(50% - 16px / 2);
    height: 100%;
  }
}
